nnm_dark()
  .post_read
    code:not([class])
      color: #999
    .highlight
      background: alpha(darken($color-dark-read-bkg, 50), 0.3)
  .article
    code
      background: mix(#888, $color-dark-card, 17%)
    
  // APlayer 暗黑模式修正
  .aplayer
    .aplayer-list
      ol
        &::-webkit-scrollbar-thumb
          background: lighten($color-dark-card, 6) !important
          &:hover
            background: lighten($color-dark-card, 12) !important
    .aplayer-volume-bar
      background: lighten($color-dark-card, 6) !important
    .aplayer-icon:hover
      path
        fill: #ccc !important
    .aplayer-bar
      background: lighten($color-dark-card, 3) !important
      .aplayer-loaded
        background: lighten($color-dark-card, 12) !important

@media (prefers-color-scheme: dark)
  :root
    --color-mode: 'dark'
  :root:not([color-scheme])
    nnm_dark()
[color-scheme='dark']
  nnm_dark()