@media screen and (max-width: $device-mobile)
  .l_header
    .list-v
      .aplayer,.aplayer-pic
        border-radius: $border-card * 0.5
        width: 64px
        height: 64px

.aplayer-container
  display: flex
  justify-content: center
  min-height: 100px
  meting-js
    max-width: 100%


.aplayer
  max-width: 500px
  border-radius: $border-card !important  // * 4px？$border-codeblock？要强制覆盖 Aplayer 本身的 CSS
  color: var(--color-text)
  font-family: $fontfamily
  .aplayer-list
    text-align: left
  @media screen and (max-width: $device-mobile)
    border-radius: $border-card

.l_header
  .aplayer-volume-wrap
    display: none !important // 隐藏导航栏播放器音量调节 see: https://github.com/volantis-x/hexo-theme-volantis/issues/328


if hexo-config('plugins.aplayer.autoHide')
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body
    left: -66px !important
    &:hover
      left: 0px !important

/// * 会更卡吗？会卡的话就不要这样了
.aplayer .aplayer-lrc 
  p
    font-size: 11px !important
  p.aplayer-lrc-current
    font-size: 13px !important  // * 同样应该强制覆写