.common_read
  z-index: auto !important
  opacity: 1 !important
  overflow: visible !important
  transform: none !important
  animation: none !important
  position: relative !important
  // filter: sepia(.1)   // // 别玩了

.body-wrapper.common_read
  display: block

#safearea.common_read
  padding-bottom: 16px
  @media screen and (max-width: 900px)
    padding: 0
    margin: 0

#l_body.common_read
  z-index: 2147483646 !important;

.read_cover
  min-height: 10px !important
  @media screen and (max-width: 900px)
    min-height: 0 !important

.common_read_bkg
  background-color: var(--color-read-bkg)
  opacity: 1 !important
  display: block !important
  position: fixed !important
  top: 0 !important
  left: 0 !important
  right: 0 !important
  bottom: 0 !important
  z-index: 2147483645 !important
  transition: opacity 1s cubic-bezier(.23,1,.32,1) 0ms !important

.common_read_hide
  opacity: 0 !important
  z-index: -2147483645 !important

.common_read_main
  width: 840px !important;
  padding: 0 !important;
  margin: 0 auto;
  float: initial !important;
  @media screen and (max-width: 900px)
    width: auto !important;

.post_read
  background-color: var(--color-read-post) !important
  z-index: 2147483646 !important
  overflow: visible !important
  font-size: 1.15rem !important
  // border-radius: 0 !important;   // * 阅读模式是否保留圆角
  box-shadow: 0 6px 12px 3px #00000033
  code:not([class])
    color: var(--color-text)  // todo 专门调色
  table:not([class])
    td,th // 表格样式，参照 base.styl，暗黑模式 dark_nnm.styl
      border: 1px solid darken($color-read-bkg, 2) /////!important
    th
      background-color: darken($color-read-bkg, 2) /////!important
    tr
      background-color: transparent /////!important
      trans()
      &:hover
        background-color: darken($color-read-bkg, .5) /////!important
  code
    background: saturate($color-read-bkg, 35)
  // 不搞文章标题装饰的话，这些语句就不需要
  // h1, h2, h3, h4, h5, h6
  //   background: transparent !important
  //   border: none    // * 使用 inkss.cn 的标题装饰方法，会导致 display 设置为 initial
  .copyright
    >blockquote
      background: alpha(saturate($color-read-bkg, 50), 0.3)
  .highlight
    background: alpha(saturate($color-read-bkg, 50), 0.3)
    >table
      td,th
        border: none /////!important
      background-color: transparent /////!important
      border: none /////!important
      tr
        background-color: transparent /////!important
        &:hover
          background-color: transparent /////!important
      .gutter
        background: alpha(saturate($color-read-bkg, 100), 0.5)

// 落霞孤鹜！
// 作者博客：https://lxgw.github.io/
// 使用 CDN：http://staticfile.org/
.post_read
  $lxgw = LXGW WenKai Screen, LXGW Wenkai, LXGW Wenkai Mono
  font-family: $lxgw, $fontfamily
      